body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #preview, #overlay, #analytics {
    position: absolute;
    width: 50%;
}

#header {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#preview, #overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

#analytics {
    top: 2em;
    bottom: 0;
    z-index: 2;
    padding:10px;
    margin-left:70em;
}

h2{

    font-size:1em
}

#analyticss {
font-size:14px;
font-weight: 600;
overflow-y: scroll;
max-height:400px;
}

#ai {
    width:25px;

    }


#fname{

padding:15px;


font-family: ArtifaktElement;
border-radius: 5px;
width:70%;
margin-top: 50px;

}

#gpt_response{

    background-color: #dee0df;
    /* padding:13px; */
    border-radius: 10px;
    margin-left: 10px;

}

#type0, #type1, #type2, #type3{

    font-family: ArtifaktElement;
}

.prompt_output{
    height:60%;
}

#fname{
    margin-right:-100px;
}

.cesium-viewer-bottom{
    background-color: green;
}

#input_form{
    font-size: 5px;
}

#gpt_input{

    background-color: #dee0df;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;

}

